body {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #34343f;
    grid-template-rows: 60px 100%;
    grid-template-columns: 100px 100%;
  }
  
nav{
    background-color: blue;
    color: white;
    grid-row: 1;
    grid-column: span(1,2);
}
aside{
    background-color: gray;
    color: white;
    grid-row: 2;
    grid-column: 1;

}
content{
    background: white;
    display: grid;
    color:black;
    padding: 50px;
    align-items: center;
    font-weight: 1000;
    letter-spacing: .5em;
    text-transform: uppercase;
    grid-row: 2;
    grid-column: 2;
  }
 
  .Print{
    cursor: pointer;
  }
  
  h1 {
    padding: 70px 100px;
  }

  content{
      font: x-large;

  }